
body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSellCQ7c_2UoLjglFzjdwvsAkFNZ5Va4pT2yx3tDSMf1_4_uyh");
	padding: 10px;
	margin: 10px;
	color: #ccc;
	font-family: "JoseFin Sans", "Indie Flower", sans-serif;

}

p {
	font-size: 30px;
	text-align: center;

}

.container {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSellCQ7c_2UoLjglFzjdwvsAkFNZ5Va4pT2yx3tDSMf1_4_uyh");
	color: #ccc;
	border: 5px outset gray;
	border-radius: 10px;
	margin: 10px;
}

#instructions {
	padding: 25px;
}

.panel {
	width: 100%;
	max-width: 45%;
	height: 100%;
	display: inline-block;
	border: none;
	background-image:none;
}

.click-hide, .click-show {
	border: 5px outset #ccc;
	border-radius: 10px;
	margin: 0px 3px 0px 3px;
	display: inline-block;

}

.click-show {
	padding: 50px;
	background-color:#1356a7;
	border-color: #135671;
	color: #ccc;
}

#gems{
	border: none;
}
